    .contacto-content {
        background-color: rgb(206, 219, 209);
        display: flex;
        flex-direction: column;
        width: 65%;

        .titulos {
            margin-top: 80px;
            margin-left: 50px;
            margin-bottom: 50px;

            .titulo-abajo {
                color: orangered;
            }
        }

        .formulario {
            margin-top: 30px;
            margin-left: 50px;
            width: 60%;

            label {
                width: 30%;
                margin: 10px;
            }

            input {
                background: none;
                width: 65%;
                border-top: none;
                border-left: none;
                border-right: none;
            }

            .campos-form {
                .errors {
                    color: red;
                }
            }

            #boton-enviar {
                background-color: orangered;
                color: white;
                margin: 10px;
                padding: 10px;
                width: 150px;
                border: none;
                border-radius: 25px;
            }
        }
    }

    .fondo-derecha {
        background-color: rgb(182, 190, 182);
        width: 35%;

        .img-contacto {
            position: relative;
            right: 150px;
            top: 150px;
            width: 450px;
            height: 400px;
        }

    }